/* CSS Document */

@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Bree+Serif);



/*h3 a {
	color: #FFF;
}

a {
	color: #FFF;
}*/
/*
h1 {
	margin-top: 100px;
	text-align:center;
	font-size:60px;
	font-family: 'Bree Serif', 'serif';
	}

*/

nav {
	margin: 50px 0;
	background-color: #e74c3c;
}

nav ul {
	padding: 0;
  margin: 0;
	list-style: none;
	position: relative;
	}
	
nav ul ol {
	list-style: none;
	display:inline-block;
	background-color: #E64A19;
	}

nav a {
	display:block;
	padding:0 10px;	
	color:#FFF;
	font-size:20px;
	line-height: 60px;
	text-decoration:none;
}

nav a:hover { 
	  text-decoration: none;
    font-weight: bold;
}

/* Hide Dropdowns by Default */
nav ul ul {
	display: none;
	position: absolute; 
	top: 60px; /* the height of the main nav */
}
	
/* Display Dropdowns on Hover */
nav ul ol:hover > ul {
	list-style: none;
	display:inherit;
}
	
/* Fisrt Tier Dropdown */
nav ul ul ol {
	width:170px;
	float:none;
	list-style: none;
	display:list-item;
	position: relative;
}

/* Second, Third and more Tiers	*/
nav ul ul ul ol {
	position: relative;
	list-style: none;
	top:-60px; 
	left:170px;
}

	
/* Change this in order to change the Dropdown symbol */
ol > a:after { content:  ' +'; }
ol > a:only-child:after { content: ''; }


.subTechnology{
  width: 33%;
  float: left;
}