<!DOCTYPE html>
<html>
<head>
  <title>Digi 100 Profiles</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="../css/slick.css">
  <link rel="stylesheet" type="text/css" href="../css/slick-theme.css">
  <link rel="stylesheet" href="../css/profiles.css">
</head>
<body>
  <section class="regular slider">
    <div>
        <div class="wrapper">
            <div class="clash-card barbarian">
              <div class="clash-card__image clash-card__image--barbarian">
                <img src="../images/round-candidate.png" alt="barbarian" />
              </div>
              <div class="clash-card__level clash-card__level--barbarian">Full Stack Developer</div>
              <div class="clash-card__unit-name">John Doe</div>
              <div class="clash-card__unit-description">
                Highly organized and efficient in fast-paced multitasking environments, able to adapt to changing priorities with positive attitude. 
                <br>
                <a href="naveen_rella_resume.pdf" target="_blank"> Resume </a>
              </div>
              
      
              <div class="clash-card__unit-stats clash-card__unit-stats--barbarian clearfix">
                <div class="one-third">
                  <div class="stat">4.5/5</div>
                  <div class="stat-value">UX/UI</div>
                </div>
      
                <div class="one-third">
                  <div class="stat">3/5</div>
                  <div class="stat-value">Back-End</div>
                </div>
      
                <div class="one-third no-border">
                  <div class="stat">3/5</div>
                  <div class="stat-value">Testing</div>
                </div>
      
              </div>
      
            </div> <!-- end clash-card barbarian-->
          </div> <!-- end wrapper -->
    </div>
    <div>
        <div class="wrapper">
            <div class="clash-card archer">
              <div class="clash-card__image clash-card__image--archer">
                <img src="../images/women-interview.png" alt="archer" />
              </div>
              <div class="clash-card__level clash-card__level--archer">CEO</div>
              <div class="clash-card__unit-name">Staice</div>
              <div class="clash-card__unit-description">
                Staice  spent most of her career at Google and her resume show’s how she grew within that company. Now, she’s taking on the challenge of running Yahoo!.
                <br>
                <a href="naveen_rella_resume.pdf" target="_blank"> Resume </a>
              </div>
              
      
              <div class="clash-card__unit-stats clash-card__unit-stats--archer clearfix">
                <div class="one-third">
                  <div class="stat">4/5</div>
                  <div class="stat-value">UX/UI</div>
                </div>
      
                <div class="one-third">
                  <div class="stat">4/5</div>
                  <div class="stat-value">Back-End</div>
                </div>
      
                <div class="one-third no-border">
                  <div class="stat">3/5</div>
                  <div class="stat-value">Training</div>
                </div>
      
              </div>
      
            </div> <!-- end clash-card archer-->
          </div> <!-- end wrapper -->
    </div>
    <div>
        <div class="wrapper">
            <div class="clash-card giant">
              <div class="clash-card__image clash-card__image--giant">
                <img src="../images/men-2.png" alt="giant" />
              </div>
              <div class="clash-card__level clash-card__level--giant">Java Developer</div>
              <div class="clash-card__unit-name">Hari</div>
              <div class="clash-card__unit-description">
                Always code as if the guy who ends up maintaining your code will be a violent psychopath who knows where you live.  It works on my machine
                <br>
                <a href="naveen_rella_resume.pdf" target="_blank"> Resume </a>
              </div>
              <div class="clash-card__unit-stats clash-card__unit-stats--giant clearfix">
                <div class="one-third">
                  <div class="stat">4/5</div>
                  <div class="stat-value">UX/UI</div>
                </div>
      
                <div class="one-third">
                  <div class="stat">3.5/5</div>
                  <div class="stat-value">Back-End</div>
                </div>
      
                <div class="one-third no-border">
                  <div class="stat">3/5</div>
                  <div class="stat-value">Testing</div>
                </div>
      
              </div>
      
            </div> <!-- end clash-card giant-->
          </div> <!-- end wrapper -->
    </div>
    <div>
        <div class="wrapper">
            <div class="clash-card goblin">
              <div class="clash-card__image clash-card__image--goblin">
                <img src="../images/women-2.png" alt="goblin" />
              </div>
              <div class="clash-card__level clash-card__level--goblin">Test Automation</div>
              <div class="clash-card__unit-name"> Marissa</div>
              <div class="clash-card__unit-description">
                Pasting code from the Internet into production code is like chewing gum found in the street.Press any key to continue or any other key to quit.
                <br>
                <a href="naveen_rella_resume.pdf" target="_blank"> Resume </a>
              </div>
      
              <div class="clash-card__unit-stats clash-card__unit-stats--goblin clearfix">
                <div class="one-third">
                  <div class="stat">3/5</div>
                  <div class="stat-value">UX/UI</div>
                </div>
      
                <div class="one-third">
                  <div class="stat">3/5</div>
                  <div class="stat-value">Back-End</div>
                </div>
      
                <div class="one-third no-border">
                  <div class="stat">4.5/5</div>
                  <div class="stat-value">Testing</div>
                </div>
      
              </div>
            </div> <!-- end clash-card goblin-->
          </div> <!-- end wrapper -->
    </div>
    <div>
        <div class="wrapper">
            <div class="clash-card wizard">
              <div class="clash-card__image clash-card__image--wizard">
                <img src="../images/women-3.png" alt="wizard" />
              </div>
              <div class="clash-card__level clash-card__level--wizard">Sr. Java Developer</div>
              <div class="clash-card__unit-name">Rebecca</div>
              <div class="clash-card__unit-description">
                In three words I can sum up everything I’ve learned about life: it goes on.Just don’t create a file called -rf. <br>Knowledge is power.
                <br>
                <a href="naveen_rella_resume.pdf" target="_blank"> Resume </a>
              </div>
      
              <div class="clash-card__unit-stats clash-card__unit-stats--wizard clearfix">
                <div class="one-third">
                  <div class="stat">2/5</div>
                  <div class="stat-value">UX/UI</div>
                </div>
      
                <div class="one-third">
                  <div class="stat">4.5/5</div>
                  <div class="stat-value">Back-End</div>
                </div>
      
                <div class="one-third no-border">
                  <div class="stat">3/5</div>
                  <div class="stat-value">Testing</div>
                </div>
      
              </div>
      
            </div> <!-- end clash-card wizard-->
          </div> <!-- end wrapper -->
    </div>
    <div>
        <div class="wrapper">
            <div class="clash-card barbarian">
              <div class="clash-card__image clash-card__image--barbarian">
                <img src="../images/men-3.png" alt="barbarian" />
              </div>
              <div class="clash-card__level clash-card__level--barbarian">Full Stack Developer</div>
              <div class="clash-card__unit-name">Smith</div>
              <div class="clash-card__unit-description">
                Flexible team member and confident professional with strong technical & communication skills.
                <br>We cannot learn without pain. 
                <br>
                <a href="naveen_rella_resume.pdf" target="_blank"> Resume </a>
              </div>
              
      
              <div class="clash-card__unit-stats clash-card__unit-stats--barbarian clearfix">
                <div class="one-third">
                  <div class="stat">4.5/5</div>
                  <div class="stat-value">UI</div>
                </div>
      
                <div class="one-third">
                  <div class="stat">3/5</div>
                  <div class="stat-value">Java</div>
                </div>
      
                <div class="one-third no-border">
                  <div class="stat">3/5</div>
                  <div class="stat-value">Testing</div>
                </div>
      
              </div>
      
            </div> <!-- end clash-card barbarian-->
          </div> <!-- end wrapper -->
    </div>
  </section>



  <script src="https://code.jquery.com/jquery-2.2.0.min.js" type="text/javascript"></script>
  <script src="../scripts/slick.js" type="text/javascript" charset="utf-8"></script>
  <script type="text/javascript">
    $(document).on('ready', function() {
      $(".regular").slick({
        dots: true,
        infinite: true,
        slidesToShow: 2,
        slidesToScroll: 2
      });
    });
</script>

</body>
</html>
